.gbp{
    display: flex;
    flex-direction: column;
    .title{
        font-size: 1.3em;
        font-weight: 600;
    }
    .head{
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 0px
    }
    .dates{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
}