@import 'header';
@import 'styles';
@import 'welcome';
@import 'GBPToUSD';
@import 'chart';



.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // .main{
    //     flex-grow: 1;
    // }
}